@import "index.scss";

.arrangementsImg{
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

.arrangementsBtn{
    width: 97% !important;
    margin-bottom: 50px;
}

.arrangementsTitle{
    font-family: arrangementsTitle;
}