@import "index.scss";

.arrangementsImg{
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

/* Excursions */

.extendBtn{
    width: 150px !important;
}

.extendDiv{
   margin-bottom: 50px;
}

.excursionTitle{
    font-family: excursionTitle;
    color: $orange;
}
