@import "index.scss";

.arrangementsImg{
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Excursions */

.extendBtn{
    width: 150px !important;
}

.extendDiv{
   margin-bottom: 50px;
}

.excursionTitle{
    font-family: excursionTitle;
    color: $orange;
}

.arrowBtn{
    position: absolute;
}

#leftArrowBtn{
    top: 50%;
    left: 10%;
}

#rightArrowBtn{
    top: 50%;
    right: 10%;
}