@import "index.scss";


/* Excursions cards */

  #excursionsDiv{
    background: $grey;
  }

  .subtitle{
    color: $orange !important;
  }

  .excursionsCard{
    height: 340px;
    cursor: pointer;
    opacity: 0;

    &:hover{
      @include shadowAround(1px, 1px, 1px, 1px, #aaa); 
    }
  }

  .displayCards{
    animation: fadeIn 1.5s forwards;
  }
 
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.excursionsCardImage{
  width: 100%;
  height: 200px;
}

  .excursionsDescription{
    color: $purple;
  }

  /* Pause */

  .pauuse{
    background: url("../img/transport/sebilj3.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    height: 40vh;
  }


  /* Transport */

  #transportRow{
    @include shadowBottom(0, 8px, 6px, -6px, #000); 
    height: 310px;
  }

  #transportList{
 //   @include shadowAround(1px, 1px, 1px, 1px, #aaa); 
    background: url('../img/transport/transport2.jpg') no-repeat;
    height: 310px;
    width: 100%;
    background-size: 100% 320px;
    -webkit-background-size: 100% 320px;
    -moz-background-size: 100% 320px;
    -o-background-size: 100% 320px;
  }

  // .transportCard{
  //   cursor: pointer;
  //   height: 100px;
  //   &:hover{
  //     @include shadowAround(1px, 1px, 1px, 1px, #aaa); 
  //   }
  // }

  // DON'T DELETE THIS
  // .transportCard:nth-child(n+4) {
  //   margin-top: 30px;
  // }

  // .transportCardImage{
  //   width: 100%;
  //   height: 100px;
  // }

  // .transportCardDescription{
  //   color: #000;
  // }

  .sidebarUl{
  // border-left: 2px solid $greyBorder;
   // border-right: 2px solid $greyBorder;
    //padding-top: 20px;
    //padding-bottom: 30px;
    height: 320px;
  }

  .sidebarLi{
    width: 100%;
    // margin-top: 10px;
    // margin-left: -40px;
  //  cursor: pointer;
     //border-bottom: 1px solid #111;
   //  outline:1px solid #222;
     padding-top: 5%;
    height: 54px;
    text-align: center;
    cursor: pointer;
    background: #333;
    color: #FFF;
    position: absolute;
    left: 0;
    list-style-type: none;
    box-shadow: 0 -1px 0 #222; //top shadow
    //@include shadowAround(1px, 1px, 1px, 1px, #aaa); 

    &:hover{
      background:#444 !important // to override jQuery;
    }
  }
  .sidebarLi:first-child{
    box-shadow: none;
    background: #222;
  }

  /*
  .sidebarAnchor{
    font-size: 18px;
    color: $green;
    &:hover{
      color: darken($green, 10%) !important;
    }
  }
  */


  .add_keyframe{
    animation: fadeEffect 2s;
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

  