/* Mixins */
  
  @mixin shadowAround($top, $down, $left, $right, $color){
   -webkit-box-shadow: $top $down $left $right $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow:    $top $down $left $right $color;  /* Firefox 3.5 - 3.6 */
   box-shadow:         $top $down $left $right $color;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */   
  }
  

body{
    background: #FFF;
}

#header{
    background: url("../img/Cover/01.jpg") no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    background-attachment: fixed;
    height: 75vh; 
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  line-height: 90vh;
   text-align: center;
}

/* Excursions cards */

  #excursionsDiv{
    background: #e6e7e8;
  }

  #excursionsTitle{
    color: #f48634;
  }

  .excursionsCard{
    height: 340px;
    cursor: pointer;
    &:hover{
      @include shadowAround(1px, 1px, 1px, 1px, #aaa); 
    }
  }

.excursionsCardImage{
  width: 100%;
  height: 200px;
}

  .excursionsDescription{
    color: #4044ab;
  }

  /* Footer */

  .footer{
    height: 100px;
    width: 100%;
    text-align: center;
    background: #4b4b4d;
  }

  
.contactIcons{
  margin: 0 auto;
  text-align: center;
}

.listIcon{
  cursor: pointer;
  display: inline-block;
  color: #FFF;
  margin-right: 20px;
  border: 1px solid #FFF;
  padding: 5px;
  margin-top: 2%;
  width: 40px;
  height: 40px;
}

  