html, body{
    overflow-x: none;
}

.jumbotron{
    background: transparent;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    text-emphasis: none; 
    &:hover{
    text-decoration: none;
    text-emphasis: none; 
    }
}