.nav{
    background: #111;
    height: 7vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.nav .navbarUl {
   list-style: none;
   text-align: center;
}

.nav .navbarUl .navbarLi {
   display: inline-block;
   padding-right: 4.5%;
}


#excursionsLi:hover > .innerUl{
    display: block; 
}


.navbarLi{
    color: white;
    cursor: pointer;
    position: relative;
    padding: 5px 0 10px 0;

    &:hover{
        color: #DDD;
    }
}

.innerUl{
    display: none;
    border: 1px solid black;
    position: absolute;
    background: #222;
    margin: 0;
    padding: 0;  
    width: 120px; 
    left: -12%;
}

.innerLi{
    padding-top: 5px;
    cursor: pointer;
    float: none;
    margin: 0;
    display: block;  
    border-bottom: 1px solid #333;
    color: #FFF;
    text-align: center;
    height: 30px;

    &:hover{
        background: #444;
    }

}

.innerLi:last-child{
    border-bottom: none;
}

