@import "index.scss";

.arrangementsImg{
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}


/* Excursions */

.extendBtn{
    width: 150px !important;
}

.extendDiv{
   margin-bottom: 30px;
   height: 300px;
}

.excursionTitle{
    font-family: excursionTitle;
    color: $orange;
}

.toShow{
    display: none;
}