@import "index.scss";

#headerTitle{
    font-size: 105px; 
}

.sportsImg{
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;

&:hover{
    filter: brightness(0.5);
}

}

.allSportsImg{
    height: 250px;
}


.villagesImg{
    height: 150px;
}

@media only screen and (max-width: 992px) {
    .sportsImg {
        height: 150px;
    }

}


@media only screen and (max-width: 768px) {
    .sportsImg {
        height: 150px;
    }

}

@media only screen and (max-width: 650px) {
    .sportsImg {
      height: 200px;
  }
}



/* Excursions */

.extendBtn{
    width: 150px !important;
}

.extendDiv{
   margin-bottom: 30px;
   height: 100%;
}

.excursionTitle{
    font-family: excursionTitle;
    color: $orange;
}

.toShow{
    display: none;
}