/* Variables */
/* Mixins */
/* Fonts */
@font-face {
  font-family: titleFont;
  src: url(../fonts/HTOWERT.TTF); }
@font-face {
  font-family: excursionTitle;
  src: url(../fonts/FuturaBookBT.ttf); }
html, body {
  overflow-x: none;
  background: #FFF; }

.jumbotron {
  background: transparent; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  text-emphasis: none; }
  a:hover {
    text-decoration: none;
    text-emphasis: none; }

/* Header */
#header {
  background: url("../img/Cover/01.jpg") no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  background-attachment: fixed;
  height: 75vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#headerTitle {
  color: #FFF;
  text-align: center;
  line-height: 105vh;
  font-size: 95px;
  font-family: titleFont; }

.languageBtn {
  width: 55px;
  border: 1px solid #f48634;
  border-radius: 5px;
  color: #4044ab;
  background: transparent;
  padding-right: 10px; }

#languageBtn1 {
  top: 3%;
  right: 10%;
  position: absolute; }

#languageBtn2 {
  top: 3%;
  right: 5%;
  position: absolute; }

/* Footer */
.footer {
  height: 100px;
  width: 100%;
  text-align: center;
  background: #4b4b4d; }

.contactIcons {
  margin: 0 auto;
  text-align: center; }

.listIcon {
  cursor: pointer;
  display: inline-block;
  color: #FFF;
  margin-right: 30px;
  padding-top: 5px;
  border: 1px solid #FFF;
  margin-top: 2%;
  width: 40px;
  height: 40px;
  opacity: 0.7; }
  .listIcon:hover {
    opacity: 1; }

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  /* Fallback color */
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; }

/* Modal Content */
.modal-content {
  width: 50%;
  height: 65%;
  padding: none;
  margin: none;
  background: transparent;
  border: transparent; }

.modalCaption {
  background: transparent;
  height: 15%;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  color: #FFF; }

.modalImg {
  height: 100%;
  width: 100%; }

#leftArrowBtn {
  top: 50%;
  left: -20%; }

#rightArrowBtn {
  top: 50%;
  right: -20%; }

.closeModal {
  color: #333;
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 32px;
  cursor: pointer;
  padding: none; }
  .closeModal:hover {
    color: gray; }

/*

@media only screen and (max-width: 768px) {

  .modal{
      padding-top: 0px;
  }

  .modal-content {
      width: 100%;
      border: none;
  }
}

*/
.form-group {
  margin: 0 auto !important;
  text-align: center !important;
  display: block !important;
  width: 100%;
  padding-bottom: 10px; }

.input-group-modal {
  margin: 0 auto;
  text-align: center;
  width: 70%; }

.modal-btn {
  width: 100%;
  background: #111;
  color: #FFF; }

.modal-btn:hover {
  color: #FFF; }

.arrowBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  color: #AAA;
  border: none; }
  .arrowBtn:hover {
    color: #FFF; }
  .arrowBtn:active {
    border: none !important;
    outline-width: 0 !important;
    box-shadow: none; }
  .arrowBtn:focus {
    border: none !important;
    outline-width: 0 !important; }

/* Modal Animation */
.modal-content, .modalCaption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
.arrangementsImg {
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer; }
  .arrangementsImg:hover {
    filter: brightness(0.5); }

/* Excursions */
.extendBtn {
  width: 150px !important; }

.extendDiv {
  margin-bottom: 30px;
  height: 300px; }

.excursionTitle {
  font-family: excursionTitle;
  color: #f48634; }

.toShow {
  display: none; }

/*# sourceMappingURL=arrangements.css.map */
